.App-header {
    background-color: #F8FAFC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #1B365D;
}

.App-link {
    color: #C5A059;
}
